@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mohave', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: url(../images/bg_img.svg), radial-gradient( #fff 4%, #000 100%);
    background-size: auto;
	background-position: center;
    display: flex;
	align-items: center;
	justify-content: center;
}

.external {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    display: flex;
    align-items: center;
    margin: 0 0 0.5rem 0;
    flex-direction: column;
    padding: 1rem;
    background: rgba(4, 1, 1, 0.45);
    border-radius: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(4, 1, 1, 1);
}

.inputs {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 0.5rem;
    margin: 0 auto;
}

h2 {
    display: flex;
    width: 50%;
}

.align {
    display: flex;
    width: 60%;
}

input[type="text"],
input[type="number"] {
    width: 50%;
    font-size: 1.3rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
}

.radioBtns {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.radioBtns span {
    display: flex;
    align-self: revert;
}
input[type="checkbox"]:hover {
    cursor: pointer;
}

button {
    display: flex;
    margin-top: 0.6rem;
    border: 0.5px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
}

button:hover {
    background: #231a3f;
    color: white;
}

button:active {
    background: #1b6c18;
    color: white;
}